body {
  background: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.page {
  width: 210mm;
  min-height: 297mm; 
  background: #ffeec8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 20mm;
  box-sizing: border-box;
  position: relative;
  transition: transform 0.6s ease;
  overflow: visible; 
}

.titulo {
  text-align: center;
  font-size: 120px;            
  color: #ff0000;            
  font-weight: 900;          
  letter-spacing: 5px;        
  text-shadow: 
    -2px -2px 0 #fff,        
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
  left: -20px;                
  font-family: 'Sunrise Orange', sans-serif;
}

.nav {
  position: fixed;
  bottom: 20px;
  display: flex;
  gap: 1rem;
}

/* ====== LOGO ====== */
.logo {
  display: block;
  margin: 0 auto 40px auto;
  width: 350px;          
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.15); 
}

.contacto-titulo {
  text-align: center;
  font-size: 60px;
  color: #000000;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
  text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-family: 'Sunrise Orange', sans-serif;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;  
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.contacto:hover {
  transform: scale(1.2);  
}

.telefono {
  font-size: 50px;
  color: #f40000;
  font-weight: bold;
}

.contacto img {
  width: 45px;
  height: 45px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.tarjeta {
  width: 90%;              
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.05);
}

.tarjeta img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  background: white;
  padding: 5px;
}

.info h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  font-family: 'Sunrise Orange', sans-serif;
}

.info p {
  font-size: 18px;
  margin: 0;
  color: #222;
}

/* ====== COLORES ====== */
.azul     { background: #8ee0ff; }
.amarilla { background: #ffe68f; }
.rosada   { background: #ffb7d5; }
.verde    { background: #b6ff9f; }
